{% extends "main.html" %}
{% load static %}

{% block header %}
{% endblock header %}

{% block content %}

<div class="main">
    <section class="container" style="margin: 12rem auto;">
        <div class="d-flex justify-content-center align-items-center py-5" >
            <div class="text-center"> 
                <h2>WELCOME !</h2>
                <div>{{first_name}} {{last_name}}</div>
            </div>
        </div>
    </section>
</div>

{% endblock content %}

{% block footer %}

{% endblock footer %}