{% extends "main.html" %}
{% load static %}

{% block content %}

<!-- Sing in  Form -->
<section class="">
    <div class="container" style="margin: 5rem auto;">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img style="height: 15rem;" src="{% static 'images/signin-image.jpg' %}" alt="sing up image"></figure>
                <a href="{% url 'register' %}" class="signup-image-link">Create an account</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Sign in</h2>
                <form method="post" action="{% url 'login' %}" class="register-form" id="login-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="txtEmail"><i class="zmdi zmdi-email material-icons-name"></i></label>
                        <input type="text" name="txtEmail" id="txtEmail" placeholder="Enter Your Email" />
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Send OTP" />
                    </div>
                </form>
                <!-- <div class="social-login">
                    <span class="social-label">Or login with</span>
                    <ul class="socials">
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block footer %}

{% endblock footer %}